<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rickysbicycletours.co.uk/wp-content/uploads/2019/04/Rickys-Bicycle-Tours-Edinurgh-Mountain-Adventure-City-Bike-Hire-ADVENTURE-TOURS-SLIDER.jpg);">
  <div class="container">
    <h1>Rent a Bike brings <strong>provide the bike you need</strong>!</h1>
    <p>Enjoy a weekend tour without having to buy a bike.</p>
  </div>
</div>

<div class="container justify-content-center">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.trilhaseaventuras.com.br/wp-content/uploads/2014/01/mountain-bike-11.jpg)">
      <%= link_to "Trail", offers_path, class:"btn btn-secondary" %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://conteudo.imguol.com.br/c/entretenimento/10/2020/12/15/passeio-de-bicicleta-familia-com-bicicleta-atividade-fisica-lazer-em-familia-1608048403987_v2_900x506.jpg.webp)">
      <%= link_to "Touring", offers_path, class:"btn btn-secondary" %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.bahianoticias.com.br/fotos/esportes_noticias/51050/mg/Suba%20100%202%20-%20Divulga%C3%A7a%C3%B5..jpg)">
       <%= link_to "Competition", offers_path, class:"btn btn-secondary" %>
    </div>
  </div>
</div>
