<div class="container">
  <h1>All offers</h1>
  <p></p>
    <ul>
      <% @offers.each do |offer| %>
        <li><strong>Bike Model: </strong><%= offer.bike %></li>
        <li><strong>Localization: </strong><%= offer.localization %></li>
        <li><strong>Price: </strong><%= offer.price %></li>
        <li><strong>Condition: </strong><%= offer.bike_condition %></li>
        <p></p>
      <% end %>
    </ul>
  </div>
